body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: lightblue;
}

nav {
  background-color: #333;
}

main {
  background-color: #f9f9f9;
  font-size: 18px;
}

footer {
  background-color: #222;
}

li {
  display: inline-block;
  width: 150px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: darkred;
}

p {
  line-height: 1.6;
}
